<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-body">
            <div class="nav-links">
                <h1>Condominium-Management</h1>
            </div>
            <div class="nav-links">
                <a href="">@USUARIO</a>
            </div>
        </div>
    </nav>
    <aside>
        <div class="aside-body">
            <h2>ADMINSTRACION</h2>
            <div class="aside-links">
                <a href="../dashboard/residentes.html">Ingresar Residente</a>
                <a href="">Desabilitar Usuarios</a>
                <a href="">Consultar Informacion Residentes</a>
                <a href="">Reservas areas comunes</a>
                <a href="">Gestionar gastos comunes</a>
                <a href="">Gestionar Multas</a>
                <a href="">Crear Anuncios</a>
                <a href="">Ver Morosos</a>
            </div>
            <div class="aside-footer">
                <a href="">Sing out</a>
            </div>
        </div>
    </aside>
    <main>
        <div class="main-body">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h1>TITLE</h1>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-body">
                                <label for="">NAME:</label>
                                <input type="text" >
                            </div>
                            <div class="form-body">
                                <label for="">NAME:</label>
                                <input type="text" >
                            </div>
                            <div class="form-body">
                                <label for="">NAME:</label>
                                <input type="text" >
                            </div>
                            <div class="form-body">
                                <label for="">NAME:</label>
                                <input type="text" >
                            </div>
                            <button type="submit">GUARDAR</button>
                            <button type="submit">CANCELAR</button>
                        </form>
                    </div>
                    <div class="card-footer">
                </div>
            </div>
        </div>
    </main>
</body>
</html>