<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-body">
            <div class="nav-links">
                <h2>Mi Condominio</h2>
            </div>
            <div class="nav-links">
                <a href="">GG CC</a> |
                <a href="">Multas</a> |
                <a href="reservas.html">Reservas</a>
            </div>
            <div class="nav-links">
                <a href="/templates/dashboard/dashboard.html" class="btn">login</a>
            </div>
        </div>
    </nav>
    <main>
        <section class="publicidad">
            <div class="section-header">
                <h1>Mi Condominio</h1>
            </div>
            <div class="section-main">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minima sunt repellat voluptate distinctio exercitationem eum nihil voluptatum eligendi qui consequatur maiores similique, ullam deserunt voluptates ipsum facilis possimus. Recusandae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minima sunt repellat voluptate distinctio exercitationem eum nihil voluptatum eligendi qui consequatur maiores similique, ullam deserunt voluptates ipsum facilis possimus. Recusandae.
                </p>
            </div>
            <div class="section-footer">
                <a href="" class="btn">COMENZAR</a>
            </div>
        </section>
        <section id="2">
            <div class="cards">
                <div class="card">
                    <img src="/static/img/edificios-eficientes-scaled.jpg" alt="">
                    <p>GG CC</p>
                </div>    
                <div class="card">
                    <img src="/static/img/Webpay-webservices-prestashop.png" alt="">
                    <p>Multas</p>
                </div> 
                <div class="card">
                    <img src="/static/img/10.Sum.Taller_-_Ph.Federico_Cairoli_(low).jpg" alt="">
                    <p>Reservas</p>
                </div>     
            </div>
        </section>
    </main>
</body>
</html>